// Colors

$color-white: #ffffff;
$color-black: #000000;

$color-solitude: #E9EBF0;
$color-granny-smith-apple: #9BE198;
$color-fern: #6FC76C;
$color-dim-gray: #737373;
$color-vista-blue: #91D6AC;
$color-white-smoke: #F8F8F8;
$color-dark-gray: #A5A5A5;

// Typography

$ff-mulish: "Noto Sans", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition: ease-in 0.3s;
