.accordion {
  display: flex;
  flex-direction: column;
  gap: 24px;
  $root: &;

  &__element {
    border-bottom: 1px solid rgba($color-black, 0.1);
    padding: 0 0 24px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0 72px 0 0;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &--active {
      #{$root}__btn-icon::after {
        opacity: 0;
      }

      + #{$root}__content {
        display: flex;
      }
    }
  }

  &__btn-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  &__btn-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 19px;
      background-color: $color-black;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      height: 19px;
      width: 2px;
      transition: opacity $transition;
    }
  }

  &__content {
    display: none;
  }

  &__inner {
    padding: 12px 0 0;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba($color-black, 0.8);

    p {
      margin: 0;
    }
  }
}
