.basket {
  background-color: $color-white;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  right: 0;
  top: calc(100% + 18px);
  box-shadow: 0 10px 60px 0 #4848481A;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity $transition, transform $transition;
  z-index: 10;

  &--active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__empty-block {
    text-align: center;
    padding: 40px;
    width: 366px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
  }

  &__item {
    display: grid;
    gap: 20px;
    grid-template-columns: 60px 170px 76px 20px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;

    &-close {
      cursor: pointer;
    }
  }

  &__close {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    align-items: flex-start;
    background-color: $color-white-smoke;
    border-radius: 6px;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
    overflow: hidden;


    img {
      height: 60px;
      object-fit: contain;
      width: 60px;
    }
  }
}
