.catalog {
  &__title {
    margin: 0 0 44px 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 54.6px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 40px;
    margin: 0 0 80px 0;
    align-items: start;
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
  }

  &__sort-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  &__sort-select {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #9BE198;
    border: none;
  }

  &__list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 40px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
  }

  &__pagination-link {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 25.2px;
    color: $color-dark-gray;
    transition: opacity $transition;
    border: none;
    background-color: transparent;

    &--active {
      opacity: 0.4;
    }

    &:hover {
      opacity: 0.7;
    }

    &:disabled {
      pointer-events: none;
    }

    &:not(:disabled) {
      color: $color-black;
    }
  }
}
