.catalog-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 20px;

  &__reset {
    border: 1px solid $color-solitude;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: $color-white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    transition: opacity $transition;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }
  }

  &__fieldset {
    border: none;
    border-bottom: 1px solid $color-solitude;
    padding: 0 0 30px;
    margin: 0;
  }

  &__legend {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 30px 0;
  }

  &__list-col {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__list-row {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
}
