.custom-input {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  &__field {
    padding: 14px 32px 14px 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    border-radius: 8px;
    border: 1px solid $color-dark-gray;

    &::placeholder {
      color: $color-dark-gray;
    }
  }
}
