.day-products {
  padding: 70px 0 76px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin: 0 0 60px 0;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.8px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__navigation-btn {
    background-color: transparent;
    border: none;
    padding: 5px 0;
    color: $color-black;
    cursor: pointer;

    &:disabled {
      color: $color-dark-gray;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    width: 290px;
  }
}
