.footer {
  background-color: $color-black;
  padding: 44px 0;

  &__main {
    display: flex;
    margin: 0 0 64px 0;
  }

  &__logo-link {
    margin: 0 136px 0 0;

    @media (max-width: 1150px) {
      margin: 0 50px 0 0;
    }
  }

  &__menu {
    margin: 0 30px 0 0;
  }

  &__box {
    display: flex;
    gap: 80px;
    margin: 0 0 40px 0;
  }

  &__name {
    color: $color-white;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    margin: 0 0 12px 0;
    display: block;
  }

  &__contact-link {
    color: $color-white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    display: block;

    &:not(:last-child) {
      margin: 0 0 12px 0;
    }
  }

  &__social-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 60px;
  }

  &__social-item {
    position: relative;

    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        right: -30px;
        height: 100%;
        background-color: $color-dim-gray;
      }
    }
  }

  &__social-link {
    color: $color-white;
    font-size: 14px;
    line-height: 19.6px;
    transition: color $transition;

    &:hover,
    &:focus-visible {
      color: $color-granny-smith-apple;
    }
  }

  &__info {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__btn {
    width: 180px;
  }

  &__cards {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto 0 0;
    padding: 0;
    list-style: none;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-dim-gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }

  &__policy {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__policy-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: $color-dim-gray;
  }

  &__develop {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__develop-text {
    color: $color-dim-gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }
}
