.message {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color-black, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &__content {
    width: 400px;
    min-height: 200px;
    background-color: $color-white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    gap: 10px;
  }

  &__close {
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before, &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $color-black;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }


  &__descr {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5rem;
    text-align: left;
  }
}