.product-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  $root: &;

  &--small {
    width: 290px;

    #{$root}__visual {
      height: 344px;
    }

    #{$root}__img {
      height: 344px;
    }
  }

  &__visual {
    background-color: $color-white-smoke;
    border-radius: 12px;
    display: flex;
    height: 436px;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &:hover {
      #{$root}__more {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__img {
    height: 436px;
    object-fit: contain;
    width: 290px;
    transform: scale(1.03);
  }

  &__more {
    align-items: center;
    background-color: rgba($color-white, 0.9);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition;
  }

  &__link {
    width: 210px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0;
      top: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
  }

  &__old {
    text-decoration: line-through;
    color: $color-dark-gray;
    font-size: 16px;
    line-height: 22.4px;
  }

  &__price {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
  }

  &__tooltip {
    position: absolute;
    bottom: 3px;
    right: 0;
  }
}
